extends layout

block content
  .ui.middle.aligned.center.aligned.grid
    .column
      form.ui.large.form
        .ui.stacked.segment
          .field
            .ui.left.icon.input
              i.user.icon
              input(type="text" name="username" placeholder="Username")
          .field
            .ui.left.icon.input
              i.lock.icon
              input(type="password" name="password" placeholder="Password")
          a(href="/main")
            .ui.fluid.large.green.submit.button Login
