doctype html
html.gr__semantic-ui_com
  head
    title= title
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.0/dist/semantic.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block header
      header
        div.header
          a(href='/')
            span.logo
    block content
    script(src="https://code.jquery.com/jquery-3.3.1.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")
    script(src='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.0/dist/semantic.min.js')
    block script
