@import "colors";

body {
  // padding: 50px;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: $beige;
  header {
    background-color: $dark-green;
    width: 100%;
    .logo {
      cursor: pointer;
      margin: 0 auto 0 auto;
      background-image: url('../images/logo_full_black.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 40%;
      text-align: center;
      display: block;
      height: 100px;
      width: 500px;
    }
    .header {
      height: 100px;
    }
  }

  .uploadbutton {
    margin: 10px 10px 0 10px !important;
  }

  #upload-input {
    display: none;
  }
}

a {
  color: #00B7FF;
}
